<% include layout/header %>	
<!-- start of subcontents -->
	
		<h2><%= title %></h2>
		<div class="desc"></div>

<!-- end of subcontents -->
<% include layout/footer %>

<script>
$(function(){
	$.log('page init');
	SyntaxHighlighter.all();
});
</script>

<% include layout/docend %>