<% include layout/header %>
<!-- start of subcontents -->

<h2><%= title %></h2>
<article>
	UI 개발팀.
</article>

<!-- end of subcontents -->
<% include layout/footer %>

<script>
$(function(){
	
	//======================== page initialize ===================
	$.log('page init');
	
	//============================================================
});
</script>

<% include layout/docend %>
